html, body {
  height: 100%;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 95%;
  float: left;
  border: 1px solid #d4d4d4;
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  /*background-color: #999999;*/
  z-index: 100;
  /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #C5C7C5 !important;
}
.timeline-badge a:hover {
  color: #000 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    padding:20px;
    margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer{
    padding:20px;
    background-color:#f4f4f4;
}
.timeline-footer > a{
    cursor: pointer;
    text-decoration: none;
}
.tooltip{

    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0);
    
}
.tooltip.in{
    /*opacity:0;
    filter:alpha(opacity=80);*/
    
}
.tooltip.top{
    margin-top:-2px;
}
.tooltip.right{
    margin-left:2px;
}
.tooltip.bottom{
    margin-top:2px;
}
.tooltip.left{
    margin-left:-2px;
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.left .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.bottom .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.right .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip-inner{
    width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#313131;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}
.timeline > li.timeline-inverted{
  float: right; 
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.timeline > li:nth-child(2){
  margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge{
  left: -12px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li {
      margin-bottom: 20px;
      position: relative;
      width:100%;
      float: left;
      clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
    
.timeline > li.timeline-inverted{
  float: left; 
  clear: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.timeline > li.timeline-inverted > .timeline-badge{
  left: 28px;
}
}

.certification {
  background-color:#f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
}

blockquote {
  padding: ($spacer / 2) $spacer ($spacer / 100);
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
  border-left: $blockquote-border-width solid $secondary-color;
  background-color: white;
}

.figure-caption {
  color: #000000 !important;
}

.bg-info {
  background-color: $secondary-color !important;
  color: #FFFFFF !important;
}

.MuiTypography-colorInherit {
  color: #0C62A8 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
}

.social-box {
  background-color: $tertiary-color;
}

.social-box .box {
  background: $secondary-color;
  border-radius: 50px; 
  cursor: pointer;
  transition: all 0.5s ease-out;
  height: 50px;
  width: 50px;
}

.social-box .box:hover{
 box-shadow: 0 0 6px #bf3322;
}

.social-box a {
  text-decoration: none;
  color: #FFFFFF;
}


code {
  color: #B12074;
}

footer {
  padding-top:20px;
  background-color: $primary-color;
} 

footer a {
  color: #FFFFFF;
}

.icons {
  font-size: 25px;
}

.bg-cwc {
  background-color: $secondary-color;
}

.header-area {
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

.episode-card {
  text-align: left;
}

.bg-primary-color {
  color: $white;
  background-color: $primary-color;
  flex: 1;
  padding-top: 5px;
}

.bg-secondary-color {
  background-color: $secondary-color;
  flex: 1;
  padding-top: 5px;
}

.bg-tertiary-color {
  background-color: $tertiary-color;
  flex: 1;
  padding-top: 5px;
}

main a {
  color: #0C62A8;
  text-decoration: none;
}

main a:hover {
  color: $primary-color;
  text-decoration: none;
}

div.tags {
  font-weight: 600;
}

div.tags a:after {
  content: ", ";
}   
div.tags a:last-child:after {
  content: "";
}

.background {
  position: relative;
  z-index: 1;
}

.background:before {
  background: $secondary-color;
  min-height: 25%;
  opacity: 60%; 
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.row {
  display: flex;
}
@media screen and (min-width: 500px) {
  .column {
    flex: 50%;
    padding: 5px;
  }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.text-muted {
  color: #336296 !important;
}

//Pagination

.pagination {
  display: flex;
  list-style: none;
  border-radius: .25rem;
  margin: 20px 0;
  padding: 0;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: .75rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $secondary-color;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
  background-color: #fff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.youtube {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 40vh;
  max-height: 50vh;
}

// Icons

// Social Buttons for Speakers + Organizers

.btn-social-small {
  width: 25px;
  height: 25px;
  padding: 0
}

.btn-social {
  width: 40px;
  height: 40px;
  padding: 0
}


.btn.btn-rounded {
  border-radius: 50px
}

.btn-apple {
  background: #D56DFB;
  color: #ffffff
}

.btn-apple:hover,
.btn-apple:focus {
  background: #B150E2;
  color: #ffffff
}

.btn-outline-apple {
  border: 1px solid #D56DFB;
  color: #3b579d
}

.btn-outline-apple:hover {
  background: #D56DFB;
  color: #ffffff
}

.btn-email {
  background: #c34046;
  color: #ffffff
}

.btn-email:hover,
.btn-email:focus {
  background: #9b3338;
  color: #ffffff
}

.btn-outline-email {
  border: 1px solid #c34046;
  color: #c34046
}

.btn-outline-email:hover {
  background: #c34046;
  color: #ffffff
}

.btn-facebook {
  background: #3b579d;
  color: #ffffff
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #2d4278;
  color: #ffffff
}

.btn-outline-facebook {
  border: 1px solid #3b579d;
  color: #3b579d
}

.btn-outline-facebook:hover {
  background: #3b579d;
  color: #ffffff
}

.btn-github {
  background: #333333;
  color: #ffffff
}

.btn-github:hover,
.btn-github:focus {
  background: #000000;
  color: #ffffff
}

.btn-outline-github {
  border: 1px solid #333333;
  color: #333333
}

.btn-outline-github:hover {
  background: #333333;
  color: #ffffff
}

.btn-google {
  background: #fab908;
  color: #ffffff
}

.btn-google:hover,
.btn-google:focus {
  background: #d69f07;
  color: #ffffff
}

.btn-outline-google {
  border: 1px solid #fab908;
  color: #333333
}

.btn-outline-google:hover {
  background: #fab908;
  color: #ffffff
}

.btn-instagram {
  background: #dc4a38;
  color: #ffffff
}

.btn-instagram:hover,
.btn-instagram:focus {
  background: #bf3322;
  color: #ffffff
}

.btn-outline-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38
}

.btn-outline-instagram:hover {
  background: #e52d27;
  color: #ffffff
}

.btn-linkedin {
  background: #0177b5;
  color: #ffffff
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  background: #015682;
  color: #ffffff
}

.btn-outline-linkedin {
  border: 1px solid #0177b5;
  color: #0177b5
}

.btn-outline-linkedin:hover {
  background: #0177b5;
  color: #ffffff
}

.btn-rss {
  background: #ee802f;
  color: #ffffff
}

.btn-rss:hover,
.btn-rss:focus {
  background: #d3712b;
  color: #ffffff
}

.btn-outline-rss {
  border: 1px solid #ee802f;
  color: #ee802f
}

.btn-outline-rss:hover {
  background: #ee802f;
  color: #ffffff
}

.btn-twitch {
  background: #6441a5;
  color: #ffffff
}

.btn-spotify {
  background: #1DB954;
  color: #ffffff
}

.btn-spotify:hover,
.btn-spotify:focus {
  background: #19a74b;
  color: #ffffff
}

.btn-outline-spotify {
  border: 1px solid #1DB954;
  color: #1DB954
}

.btn-outline-spotify:hover {
  background: #1DB954;
  color: #ffffff
}

.btn-twitch:hover,
.btn-twitch:focus {
  background: #3c2762;
  color: #ffffff
}

.btn-outline-twitch {
  border: 1px solid #333333;
  color: #333333
}

.btn-outline-twitch:hover {
  background: #333333;
  color: #ffffff
}

.btn-twitter {
  background: #2caae1;
  color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1b8dbf;
  color: #ffffff
}

.btn-outline-twitter {
  border: 1px solid #2caae1;
  color: #2caae1
}

.btn-outline-twitter:hover {
  background: #2caae1;
  color: #ffffff
}

.btn-website {
  background: #fd7e14;
  color: #ffffff
}

.btn-website:hover,
.btn-website:focus {
  background: #b15102;
  color: #ffffff
}

.btn-whatsapp {
  background: #25D366;
  color: #ffffff
}

.btn-whatsapp:hover,
.btn-whatsapp:focus {
  background: #21b85a;
  color: #ffffff
}

.btn-outline-whatsapp {
  border: 1px solid #25D366;
  color: #25D366
}

.btn-outline-whatsapp:hover {
  background: #25D366;
  color: #ffffff
}

.btn-youtube {
  background: #e52d27;
  color: #ffffff
}

.btn-youtube:hover,
.btn-youtube:focus {
  background: #c21d17;
  color: #ffffff
}

.btn-outline-youtube {
  border: 1px solid #e52d27;
  color: #e52d27
}

.btn-outline-youtube:hover {
  background: #e52d27;
  color: #ffffff
}

.btn-nav {
  color: #FFFFFF;
}

.btn-nav:hover {
  background-color: #FFFFFF;
  color: $secondary-color;
}

.bg-main img:not(.person-image) {
  display: block;
  margin-left: auto;
  margin-right: auto;
}