<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
  {{- partial "site-metadata.html" . -}}
  <body>
      <div class="row bg-primary-color py-5">
        <div class="col">
          {{ partial "component/image.html" (dict "content" . "url" "#" "image" .Site.Params.content.site.logo) }}
          <h1 class="text-center mt-3 display-1">{{ .Site.Title }}</h1>
          {{ partial "socials" . }}
        </div>
      </div>
      {{- block "top" . -}}{{- end -}}
      <main>
        {{- block "main" . -}}{{- end -}}
      {{- block "bottom" . }}{{- end }}
      </main>
      
      {{- partialCached  "footer/all.html" . -}}
  </body>
</html>