<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
  {{- partial "site-metadata.html" . -}}
  <body>
      <div class="row bg-primary-color py-5">
        <div class="col">
          {{ partial "component/image" (dict "imagepath" .Site.Params.content.site.logo "content" (dict "title" .Site.Title) "url" .Site.BaseURL "tiny" 50 "small" 100 "medium" 150 "large" 200 "lazy" false "rounded" true) }}
          <h1 class="text-center mt-3 display-1">{{ .Site.Title }}</h1>
          {{ partial "socials" . }}
        </div>
      </div>
      {{- block "top" . -}}{{- end -}}
      <main>
        {{- block "main" . -}}{{- end -}}
      {{- block "bottom" . }}{{- end }}
      </main>
      
      {{- partialCached  "footer/all.html" . -}}
  </body>
</html>