<footer class="bg-footer footer-classic">
  <div class="container pt-4">
    <div class="row">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4 flex-x justify-content-center text-center">
          {{ partial "component/image" (dict "content" (dict "title" .Site.Title) "imagepath" .Site.Params.content.site.logo "url" .Site.BaseURL "rounded" true "tiny" 50 "small" 60 "medium" 80 "large" 100 "lazy" true) }}
          <h1 class="text-center mt-3 display-6">{{ .Site.Title }}</h1>
          <p>{{ .Site.Params.Content.Site.Copyright.notice | markdownify }}</p>
          <!-- Rights-->
          <p class="rights">{{ .Site.Params.Content.Site.copyright.additional_information | markdownify }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Contacts</h2>
        <dl class="contact-list">
          <dt>linkedin:</dt>
          <dd>/in/chrisreddington</dd>
        </dl>
        <dl class="contact-list">
          <dt>twitter:</dt>
          <dd>@reddobowen</dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h2>Sections</h2>
        <ul class="nav-list">
          <li><a href="#">Career & Education</a></li>
          <li><a href="#">Latest Posts</a></li>
          <li><a href="#">Certifications</a></li>
          <li><a href="#">Skills</a></li>
          <li><a href="#">Portfolios</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap Dependencies -->
{{ $scripts := .Site.Data.bootstrapdeps  }} 
  {{ $.Scratch.Set "bootstrapDeps" slice }}
  {{ range $scripts.scripts }}    
    {{ $.Scratch.Add "bootstrapDeps" (resources.Get . ) }}
  {{ end }}

{{ $bootstrapJs := .Scratch.Get "bootstrapDeps" | resources.Concat "js/bootstrap.js" | resources.Minify | fingerprint }}
<script src="{{ $bootstrapJs.Permalink }}"  cookie-consent="strictly-necessary" defer></script>

<!-- Cookie Consent by https://www.PrivacyPolicies.com -->
{{ $consent := resources.Get "./js/cookie-consent.js" }}
{{ $consentJs := slice $consent | resources.Concat "js/consent-bundle.js" | resources.Minify | fingerprint }}
<script type="text/javascript" src="{{$consentJs.RelPermalink}}" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"light","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"{{ .Site.Title }}","website_privacy_policy_url":"https://www.christianreddington.co.uk/privacy"});
});
</script>

<!-- Google Analytics -->
{{ if not .Site.IsServer }}
  {{- $pc := .Site.Config.Privacy.GoogleAnalytics -}}
  {{- if not $pc.Disable -}}
    {{ with .Site.Params.features.analytics.googleAnalytics }}
      <script type="text/plain" cookie-consent="tracking">
      {{ template "__ga_js_set_doNotTrack" $ }}
      window['ga-disable-{{ . }}'] = false;

      if (!doNotTrack) {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        {{ if $pc.AnonymizeIP }}
          gtag('config', '{{ . }}', { 'anonymize_ip': true, 'link_attribution': true });
        {{ else }}
          gtag('config', '{{ . }}', { 'link_attribution': true });
        {{ end }}
      }
      </script>
      {{ $analytics := resources.Get "./js/analytics.js" }}
      {{ $analyticsJs := slice $analytics | resources.Concat "js/analytics-bundle.js" | resources.Minify | fingerprint }}

      <script type="text/plain" async src="{{ $analyticsJs.RelPermalink }}" cookie-consent="tracking" defer></script>
    {{ end }}
  {{ end }}
{{ end }}
<!-- end of Google Analytics-->

<!-- Microsoft Clarity -->
{{ if not .Site.IsServer }}
  {{ with .Site.Params.features.analytics.microsoftClarity }}
<script type="text/plain" cookie-consent="tracking">
  (function(c,l,a,r,i,t,y){
    c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
    t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
    y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
})(window, document, "clarity", "script", "{{ . }}");
  </script>
  {{ end }}
{{ end }}
<!-- end of Unnamed script-->

<noscript>Cookie Consent by <a href="https://www.privacypolicies.com/" rel="nofollow noopener">Privacy Policies website</a></noscript>
<!-- End Cookie Consent -->