<h2 class="display-3 my-4">Latest Posts</h2>

<div class="row">
    {{ $rssJsonAPICall := getJSON "https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fcloudwithchris.com%2Fblog%2Findex.xml" }}

    {{ $items := ($rssJsonAPICall.items | first 3)}}

    {{ range $items }}
    <div class="col-lg-4">
        <div class="bs-box">
            <div class="info">
                <div class="content">
                    <h4 class="mb-3">
                        <a href="{{ .link }}">{{ .title }}</a>
                    </h4>
                    <div class="post-info mb-3">
                        <i class="fa-solid fa-calendar ms-1 me-2"></i> {{ time.Format "Monday Jan 2, 2006" .pubDate }}
                    </div>
                    <p>
                        {{ .content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>