<h1>Latest Posts</h1>

<div class="row">
  <div class="col-lg-4">
      <div class="bs-box">
          <div class="thumb">
              <a href="#">
                  <img src="https://i.picsum.photos/id/249/900/620.jpg" alt="Thumb">
              </a>
          </div>
          <div class="info">
              <div class="post-info">
                  <ul>
                      <li><i class="fas fa-calendar-alt"></i> 14 Jun, 2020</li>
                  </ul>
              </div>
              <div class="content">
                  <h4>
                      <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                  </h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida luctus tortor in suscipit. Etiam non faucibus risus.
                  </p>
                  <a href="#" class="read-more-btn">Read More</a>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="bs-box">
          <div class="thumb">
              <a href="#">
                  <img src="https://i.picsum.photos/id/249/900/620.jpg" alt="Thumb">
              </a>
          </div>
          <div class="info">
              <div class="post-info">
                  <ul>
                      <li><i class="fas fa-calendar-alt"></i> 25 Jul, 2020</li>
                  </ul>
              </div>
              <div class="content">
                  <h4>
                      <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                  </h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida luctus tortor in suscipit. Etiam non faucibus risus.
                  </p>
                  <a href="#" class="read-more-btn">Read More</a>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="bs-box">
          <div class="thumb">
              <a href="#">
                  <img src="https://i.picsum.photos/id/249/900/620.jpg" alt="Thumb">
              </a>
          </div>
          <div class="info">
              <div class="post-info">
                  <ul>
                      <li><i class="fas fa-calendar-alt"></i> 18 Sep, 2020</li>
                  </ul>
              </div>
              <div class="content">
                  <h4>
                      <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                  </h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida luctus tortor in suscipit. Etiam non faucibus risus.
                  </p>
                  <a href="#" class="read-more-btn">Read More</a>
              </div>
          </div>
      </div>
  </div>
</div>