<h1>Latest Posts</h1>

<div class="row">
    {{ $rssJsonAPICall := getJSON "https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fcloudwithchris.com%2Fblog%2Findex.xml" }}

    {{ $items := ($rssJsonAPICall.items | first 3)}}

    {{ range $items }}
    <div class="col-lg-4">
        <div class="bs-box">
            <div class="thumb">
                <a href="{{ .link }}">
                    <img src="https://i.picsum.photos/id/249/900/620.jpg" alt="Thumb">
                </a>
            </div>
            <div class="info">
                <div class="content">
                    <h4>
                        <a href="{{ .link }}">{{ .title }}</a>
                    </h4>
                    <div class="post-info">
                        <i class="fas fa-calendar-alt"></i> {{ .pubDate }}
                    </div>
                    <p>
                        {{ .content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>