<div class="d-flex mx-auto justify-content-center">
    {{ $socials := .Site.Data.socials  }}
    {{ $map := dict "linkedin" "fa-brands fa-linkedin-in" "github" "fa-brands fa-github" "meetup" "fa-brands fa-meetup" "twitch" "fa-brands fa-twitch" "twitter" "fa-brands fa-twitter" "youtube" "fa-brands fa-youtube" "link" "fa-solid fa-link"}}
    {{ range $socials.items }}
    <a href="{{ .href }}" class="social-button text-center justify-content-center fs-3" role="button" target="_blank">
      <i class="{{ index $map (.type | lower) }}" title="{{ .text }}"></i>
    </a>&nbsp;
    {{ end }}
</div>