<h2 class="display-3">Professional & Educational Experience</h2>

<ul class="timeline">
  <li>
    <div class="timeline-badge primary"><a><i class="fa-solid fa-briefcase"></i></a></div>
    <div class="timeline-panel">
      <div class="timeline-footer">
          <strong>Cloud Solution Architect (CSA) at Microsoft</strong>
          <span class="float-end">Mar 2021 - Present</span>
      </div>
      <div class="timeline-body">
        <p>App Dev CSA in Microsoft UK's Customer Success Unit (CSU); DevOps Squad Lead.</p>
        <p>DEVELOPER ENGAGEMENT & CONTENT CREATION</p>
        <p>A recognised expert within the team, the subsidiary and beyond. Working closely with 
        the UK Developer Audience team and Corp on scaling developer engagement
        programmes within Customer Accounts. Pioneering a new video series on Microsoft 
        Learn TV, based on real-world learnings in the CSU. Presented at Microsoft //Build.</p>
        <p>COMMUNITY LEADER</p>
        <p>Organiser of Azure Thames Valley. Have become a recognised meetup speaker, invited 
        to several events (as seen at https://www.cloudwithchris.com/talk). Received
        overwhelmingly positive feedback as a coach on multiple customer-facing Hackathons</p>
        </p>
      </div>
    </div>
  </li>
  <li  class="timeline-inverted">
    <div class="timeline-badge primary"><a><i class="fa-solid fa-briefcase"></i></a></div>
    <div class="timeline-panel">    
      <div class="timeline-footer">
          <strong>Sr. FastTrack for Azure Engineer at Microsoft</strong>
          <span class="float-end">Mar 2017 - Feb 2021</span>
      </div>
      <div class="timeline-body">
        <p>Microsoft Azure Engineering's team for Customer Experience at scale</p>
        <p>CLOUD ADVOCATE</p>
        <p>Created numerous Azure Docs and Azure Architecture Center articles; Committed 
          several Pull Requests for Azure GitHub Actions; Led customers through architectural 
          sessions at several Microsoft conferences; initiated a video series “Azure Mythbusters” 
          alongside Microsoft UK; Delivered Kubernetes upskilling sessions across the globe.</p>
          <p>DEVOPS PRACTICE LEAD</p>
          <p>Responsible for setting DevOps strategy to drive additional customer adoption. Led
          several cross-organisation initiatives, partnering with GitHub FastTrack, GitHub Actions, 
          Azure DevOps, and other Azure Engineering teams to drive improvements in their 
          products and developer focused tooling.</p>
          <p>Established several Product Group relationships with Engineering Directors & Principal 
          PM/Engineering managers, driving actionable product feedback into the products</p>
          <p>PROGRAM & REGION LAUNCH & EVANGELISM</p>
          <p>Launched the FastTrack for Azure Program alongside the leadership team, speaking at 
          global launch events in Australia, the UK and Western Europe. Presented at Microsoft 
          Inspire, engaging with Microsoft partners in interactive breakout sessions.</p> 
          <p>COACH AND MENTOR</p>
          <p>Mentored colleagues globally from various career stages and technical backgrounds 
          on GitHub, Cloud Architecture, Azure DevOps and DevOps principals</p>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge primary"><a><i class="fa-solid fa-briefcase"></i></a></div>
    <div class="timeline-panel">
      <div class="timeline-footer">
          <strong>Application Development Manager at Microsoft</strong>
          <span class="float-end">Jul 2015 - Mar 2017</span>
      </div>
      <div class="timeline-body">
        <p>TECHNICAL DELIVERY</p>
        <p>Supported customers their development approach; focusing on agile processes 
        DevOps and effective use of tooling. Received 100% "Very Satisfied" responses across 
        entire customer portfolio, compared to a target of 87% and team average of 86%</p>
        <p>DRIVING OPPORTUNITY PIPELINE</p>
        <p>Led pre-sales across Microsoft's Small and Mid-Size segment of Microsoft UK Services.
        Drove awareness of the Premier Support for Developers offering, developed leads, 
        scoped opportunities and drove customer proposals into deals.</p>
        <p>PROGRAM MANAGEMENT, AZURE SOLUTION ASSESSMENTS</p>
        <p>Developed an assessment framework into a global offering. When Chris left the role, 15
        customers had been through the pilot, resulting in 300 recommendations; 46 of which 
        were critical. This safeguarded more than $8.9m of cloud revenue.</p>
        <p>MENTORING AND COACHING</p>
        <p>Supported Interns, and industry hires on personal and career development.</p>
      </div>
    </div>
  </li>  
  <li  class="timeline-inverted">
    <div class="timeline-badge primary"><a><i class="fa-solid fa-briefcase"></i></a></div>
    <div class="timeline-panel">    
      <div class="timeline-footer">
          <strong>Technical Account Manager at Microsoft</strong>
          <span class="float-end">Mar 2015 - Jul 2015</span>
      </div>
      <div class="timeline-body">
        <p>ACCOUNT MANAGEMENT</p>
        <p>Accountable for a portfolio of accounts valued over £2.5m. Partnered with customers 
          to understand their business and help them realise the value of Microsoft Technology.</p> 
         <p>CUSTOMER VALUE REPORTING</p>
         <p>Rolled out a reporting process on technical deliveries across the team. Received 
          positive feedback from key customer stakeholders, leading to strategic relationships.
          </p>
      </div>
    </div>
  </li>  
  <li  class="timeline">
    <div class="timeline-badge primary"><a><i class="fa-solid fa-briefcase"></i></a></div>
    <div class="timeline-panel">    
      <div class="timeline-footer">
          <strong>Associate Devices & Mobility Consultant at Microsoft</strong>
          <span class="float-end">Sep 2014 - Mar 2015</span>
      </div>
      <div class="timeline-body">
        <p>TECHNICAL DELIVERY</p>
        <p>Part of a project team delivering Windows 8.1 devices and supporting infrastructure. 
          Contributed to the project's requirements gathering and design stages.</p>
        <p>PROGRAM MANAGEMENT, GRADUATE TECHNICAL TRAINING</p>
        <p>Program managed and presented a series of technical sessions to grow the graduate 
          community. Management requested a similar program for the wider organisation.</p>
          
      </div>
    </div>
  </li>
  <li  class="timeline-inverted">
    <div class="timeline-badge primary"><a><i class="fa-solid fa-graduation-cap"></i></a></div>
    <div class="timeline-panel">    
      <div class="timeline-footer">
          <p><strong>BSc Computer Science with Intercalated Year, University of Warwick</strong></p>
          <p class="float-end">2010 - 2014</p>
      </div>
      <div class="timeline-body">
        <p>First Class with Honours</p>
        <p>Highlights: Third Year Project (Visualisation of Trends in Location Based Data) 93%, 
          Machine Learning 81%, Software Engineering Principles 71%, Artificial Intelligence 72%</p>
      </div>
    </div>
  </li>
  <li  class="timeline">
    <div class="timeline-badge primary"><a><i class="fa-solid fa-graduation-cap"></i></a></div>
    <div class="timeline-panel">    
      <div class="timeline-footer">
          <strong>Saint David's College (A-Levels)</strong>
          <p class="float-end">2008 - 2010</p>
      </div>
      <div class="timeline-body">
        <p>Computing (A*), Maths (A), Statistics (A), Further Maths (C), AS Physics (C), Extended 
          Project (B), Welsh Baccalaureate Advanced Diploma</p>
      </div>
    </div>
  </li>
  <li  class="timeline-inverted">
    <div class="timeline-badge primary"><a><i class="fa-solid fa-graduation-cap"></i></a></div>
    <div class="timeline-panel">    
      <div class="timeline-footer">
          <p><strong>Corpus Christi High School (GCSEs)</strong></p>
          <p class="float-end">2003 - 2008</p>
      </div>
      <div class="timeline-body">
        <p>10 A* - B (Including Maths, IT, Science and Additional Science)</p>
      </div>
    </div>
  </li>
  <li class="clearfix" style="float: none;"></li>
</ul>