<h2 class="display-3">Professional & Educational Experience</h2>

<ul class="timeline">
  {{ $timeline := .Site.Data.timeline  }}
  {{ range $index, $value := $timeline.items }}
    <li{{ if and (ne $index 0) (eq (mod $index 2) 1) }} class="timeline-inverted"{{ end }}>
      <div class="timeline-badge primary">
        <a>
          {{ if eq .type "education" }}
            <i class="fa-solid fa-graduation-cap"></i>
          {{ else }}
            <i class="fa-solid fa-briefcase"></i>
          {{ end }}
        </a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-metadata">
            <strong>{{ .title }}</strong>
            <span class="float-end">{{ .time }}</span>
        </div>
        <div class="timeline-body">
          {{ range .details }}
            {{ with .title }}
              <p>{{ . }}</p>
            {{ end }}
            <p>{{ .text | markdownify }}</p>
          {{ end }}
        </div>
      </div>
    </li>
  {{ end }}
  <li class="clearfix" style="float: none;"></li>
</ul>