{{ define "top" }}
  <p>
    Chris has been a software developer since an early age, initially focusing on web-based 
    game development. He has continued to grow, more recently using his knowledge to 
    help others learn through his Cloud with Chris platform. He is a recognised face in the 
    technical community, regularly presenting at local meetup groups.
  </p>

  <p>
    Ambitious and self-motivated, he possesses excellent relationship building skills, 
    having partnered with project managers, engineers, developers, heads of engineering
    and more across hundreds of projects. He is passionate about inspiring and 
    empowering the developer community, helping them to be successful.
  </p>
{{ end }}

{{ define "main" }}
{{- partialCached  "posts" . -}}
{{ end }}